In [ ]:
import pandas as pd
import numpy as np

In [ ]:
myList = [1,2,3,4]
pd.Series(myList)

In [ ]:
subwayList = [['1호선','서울역',17896,15468],
              ['2호선','강남역',22794,21657],
              ['3호선','신사역',24131,25592]]

In [ ]:
pd.DataFrame(subwayList)

In [ ]:
df1 = pd.DataFrame(subwayList)

In [ ]:
df1.columns = ['노선명','역명','승차총승객수','하차총승객수']

In [ ]:
df1

In [ ]:
subwayDict = {'노선명':['1호선','2호선','3호선'],
              '역명':['서울역','강남역','신사역'],
              '승차총승객수':[17896,22794,24131],
              '하차총승객수':[15468,21657,25592]}

In [ ]:
df2 = pd.DataFrame(subwayDict)

In [ ]:
df2

In [ ]:
df1['역명']

In [ ]:
df1.index = df1['노선명']

In [ ]:
df1

In [ ]:
df3 = pd.read_csv('http://bit.ly/ds-korean-idol')

In [ ]:
df3

In [ ]:
df3.head()

In [ ]:
df3.tail()

In [ ]:
df3.columns

In [ ]:
new_col = ['name', '그룹', '소속사', '성별', '생년월일', '키', '혈액형', '브랜드평판지수']

In [ ]:
df3.columns = new_col
df3.columns

In [ ]:
df3.head()

In [ ]:
df3.index

In [ ]:
df3.info()

In [ ]:
df3.describe()

In [ ]:
df3.shape

In [ ]:
df3.sort_index()

In [ ]:
df3.sort_index(ascending=False)

In [ ]:
df3.sort_values(by='키')

In [ ]:
df3.sort_values(by='키',ascending=False)

In [ ]:
df3.sort_values(by=['혈액형','브랜드평판지수'])

In [ ]:
df3.sort_values(by=['혈액형','브랜드평판지수'],ascending=False)

In [ ]:
df3['name'].head()

In [ ]:
df3.name

In [ ]:
df3[:3]

In [ ]:
df3.head(3)

In [ ]:
df3.loc[:,'name']

In [ ]:
df3.loc[:, ['name','생년월일']]

In [ ]:
df3.loc[3:8, ['name','생년월일']]

In [ ]:
df3.loc[3:8, 'name':'생년월일']

In [ ]:
df3.iloc[:, [0,4]]

In [ ]:
df3.iloc[3:8, [0,4]]

In [ ]:
df3.iloc[3:8, 0:4]

In [ ]:
df3['키'] > 180

In [ ]:
df3[df3['키'] > 180]

In [ ]:
df3[df3['키'] > 180]['name']

In [ ]:
df3[df3['키'] > 180][['name','키']]

In [ ]:
df3.loc[df3['키'] > 180, 'name']

In [ ]:
df3.loc[df3['키'] > 180, ['name','키']]

In [ ]:
df3.loc[df3['키'] > 180, 'name': '키']

In [ ]:
my_condition = ['플레디스', 'SM']
df3['소속사'].isin(my_condition)

In [ ]:
df3.loc[df3['소속사'].isin(my_condition)]

In [ ]:
df3.loc[df3['소속사'].isin(my_condition), 'name']

In [ ]:
df3.isna()

In [ ]:
df3['그룹'].isnull()

In [ ]:
df3['그룹'][df3['그룹'].isnull()]

In [ ]:
df3['그룹'][df3['그룹'].isna()]

In [ ]:
df3['그룹'].notnull()

In [ ]:
df3['그룹'][df3['그룹'].notnull()]

In [ ]:
df3.loc[df3['그룹'].notnull(), ['name', '그룹']]

In [ ]:
df3 = pd.read_csv('http://bit.ly/ds-korean-idol')

In [ ]:
type(df3)

In [ ]:
new_df = df3

In [ ]:
id(df3)

In [ ]:
id(new_df)

In [ ]:
copy_df = df3.copy()

In [ ]:
hex(id(copy_df))

In [ ]:
hex(id(df3))

In [ ]:
newRow = {'이름': '민영', '그룹': '브레이브 걸스', '소속사': '브레이브 엔터', '성별': '여자', '생년월일': '1990-09-12', '키': 165.0, '혈액형': 'AB', '브랜드평판지수': 12345678}

# pandas 2.0.0 버전 이후부터 'append()' Method가 완전히 제거되었기 때문에 더 이상 작동하지 않습니다.
# df4.append(newRow, ignore_index=True)

In [ ]:
df3['국적'] = '대한민국'
df3.head()

In [ ]:
df3.loc[df3['이름'] == '지드래곤', '국적'] = 'Korea'

In [ ]:
df3.describe()

In [ ]:
df3['키'].min()

In [ ]:
df3['키'].max()

In [ ]:
df3['키'].sum()

In [ ]:
df3['키'].mean()

In [ ]:
df3['키'].var()

In [ ]:
df3['키'].std()

In [ ]:
df3['키'].count()

In [ ]:
df3['키'].median()

In [ ]:
df3['키'].mode()

In [ ]:
pd.pivot_table(df3, index='소속사', columns='혈액형', values='키')

In [ ]:
pd.pivot_table(df3, index='소속사', columns='혈액형', values='키', aggfunc=np.mean)

## groupby

In [ ]:
df3.groupby('소속사')

In [ ]:
df3.groupby('소속사').count()

In [ ]:
df3.groupby('그룹')[['키','브랜드평판지수']].mean()

In [ ]:
df3.groupby('성별')[['키','브랜드평판지수']].sum()

In [ ]:
df3.groupby('혈액형')['키'].mean()

In [ ]:
df3.groupby(['혈액형','성별'])[['키','브랜드평판지수']].mean()

In [ ]:
multi_df = df3.groupby(['혈액형','성별'])[['키','브랜드평판지수']].mean()

In [ ]:
multi_df.unstack('혈액형')

In [ ]:
multi_df.unstack('성별')

In [ ]:
multi_df = multi_df.reset_index()

In [ ]:
# 기존 인덱스 삭제 
# multi_df.reset_index(drop=True)
# multi_df

In [ ]:
df3['키'].fillna(-1)

In [ ]:
df3 = copy_df.copy()

In [ ]:
df3['키'].fillna(-1, inplace=True)

In [ ]:
df3 = copy_df.copy()

df3['키'] = df3['키'].fillna(-1)

df3['키']

In [ ]:
df3 = copy_df.copy()
height = df3['키'].mode()

In [ ]:
df3['키'].fillna(height[0], inplace=False)

In [ ]:
pd.__version__

In [ ]:
df3 = copy_df.copy()

df3.dropna()

In [ ]:
df3 = copy_df.copy()

df3.dropna(axis=0)

In [ ]:
df3 = copy_df.copy()

df3.dropna(axis=1)

In [ ]:
df3 = copy_df.copy()
df3 = df3.dropna()

df3.reset_index(drop=True)

In [ ]:
df3 = copy_df.copy()

df3 = df3.dropna(axis=0, how='any')

In [ ]:
# import numpy as np
df3 = copy_df.copy()

df3.iloc[10] = np.nan

In [ ]:
df3

In [ ]:
df3.dropna(axis=0, how='all')

In [ ]:
df3

In [ ]:
df3 = copy_df.copy()

In [ ]:
df3['키'].fillna('178.0')

In [ ]:
df3['키'].drop_duplicates()
# keep: 'first' / 'last'

In [ ]:
df3.drop_duplicates('그룹')

In [ ]:
df3 = copy_df.copy()

In [ ]:
df3.drop('그룹', axis=1)

In [ ]:
df3.drop(['그룹', '소속사'], axis=1)

In [ ]:
df3.drop(3, axis=0)

In [ ]:
df3.drop([3,5], axis=0)

In [ ]:
df4 = pd.DataFrame({'통계': [60, 70, 80, 85, 75], '미술': [50, 55, 80, 100, 95], '체육': [70, 65, 50, 95, 100] })

copy_df4 = df4.copy()

In [ ]:
type(df4['통계'])

In [ ]:
df4['통계'] + df4['미술'] + df4['체육']

In [ ]:
df4['통계'] - df4['미술']

In [ ]:
df4['통계'] * df4['미술']

In [ ]:
df4['통계'] / df4['미술']

In [ ]:
df4['통계'] % df4['미술']

In [ ]:
df4['통계'] + 10

In [ ]:
df4['통계'] - 10

In [ ]:
df4['통계'] * 10

In [ ]:
df4['통계'] / 10

In [ ]:
df4['통계'] % 10

In [ ]:
df4 = copy_df4.copy()

In [ ]:
df4['통계미술합계'] = df4['통계'] + df4['미술'] + 10

In [ ]:
df4['통계'] + df4['미술'] - df4['체육']

In [ ]:
df4 = copy_df4.copy()

df4

In [ ]:
df4.sum(axis=0)

In [ ]:
df4.mean(axis=0)

In [ ]:
df4.sum(axis=1)

In [ ]:
df4.mean(axis=1)

In [ ]:
df3 = copy_df.copy()
df5 = pd.read_csv('https://bit.ly/ds-korean-idol-2')
copy_df5 = df5.copy()

In [ ]:
df5.info()

In [ ]:
pd.concat([df3, copy_df], sort=False, axis=0)

In [ ]:
df_concat = pd.concat([df3, copy_df], sort=False)
df_concat

In [ ]:
df_concat.reset_index(drop=True)

In [ ]:
pd.concat([df3, df5], axis=1)

In [ ]:
df6 = df5.drop([3,5])

In [ ]:
pd.concat([df3, df6], axis=1)

In [ ]:
df3 = copy_df.copy()
df5 = copy_df5.copy()

In [ ]:
df5.head()

In [ ]:
df_right = df5.drop([1,3,5,7,9], axis=0)

In [ ]:
df_right = df_right.reset_index(drop=True)

In [ ]:
pd.merge(df3, df_right, on='이름', how='left')

In [ ]:
pd.merge(df3, df_right, on='이름', how='right')

In [ ]:
pd.merge(df3, df_right, on='이름', how='inner')

In [ ]:
pd.merge(df3, df_right, on='이름', how='outer')

In [ ]:
df_right.columns = ['성함', '연봉', '가족수']

In [ ]:
pd.merge(df3, df_right, left_on='이름', right_on='성함', how='outer')

In [ ]:
df3 = copy_df.copy()

In [ ]:
df3.info()

In [ ]:
df3['키'].dtypes

In [ ]:
df3['키']

In [ ]:
df3['키'].fillna(df3['키'].mean(), inplace=True)

In [ ]:
df3['키'].astype(int)

In [ ]:
df3['키'].astype(object)

In [ ]:
df3['키'].astype(float)

In [ ]:
df3['생년월일']

In [ ]:
df3['생년월일'] = pd.to_datetime(df3['생년월일'])

In [ ]:
# 월요일: 0 화요일: 1, 수요일: 2, 목요일: 3, 금요일: 4, 토요일: 5, 일요일: 6
df3['생년월일'].dt.dayofweek

In [ ]:
df3['생년월일'].dt.year

In [ ]:
df3['생년월일'].dt.month

In [ ]:
df3['생년월일'].dt.day

In [ ]:
df3['생년월일'].dt.hour

In [ ]:
df3['생년월일'].dt.minute

In [ ]:
df3['생년월일'].dt.second

In [ ]:
df3['생년_년'] = df3['생년월일'].dt.year
df3['생년_월'] = df3['생년월일'].dt.month
df3['생년_일'] = df3['생년월일'].dt.day

In [ ]:
df3.head()

In [ ]:
df3 = copy_df.copy()

In [ ]:
df3.loc[df3['성별'] == '남자', '성별'] = 1
df3.loc[df3['성별'] == '여자', '성별'] = 0

In [ ]:
df3 = copy_df.copy()

In [ ]:
def male_or_female(x):
    if x == '남자':
        return 1
    elif x == '여자':
        return 0

In [ ]:
df3['성별_NEW'] = df3['성별'].apply(male_or_female)

In [ ]:
df3.head()

In [ ]:
def male_or_female2(df):
    if df['성별'] == '남자':
        return 1
    elif df['성별'] == '여자':
        return 0

In [ ]:
df3['성별_신규'] = df3.apply(male_or_female2, axis=1)

In [ ]:
df3.head(15)

In [ ]:
def cm_to_brand(df):
    value = df['브랜드평판지수'] / df['키']
    return value

In [ ]:
df3['브랜드퍼키'] = df3.apply(cm_to_brand, axis=1)

In [ ]:
df3

In [ ]:
f = lambda x: 1 if x == '남자' else 0

In [ ]:
df3['성별'].apply(f)

In [ ]:
df3['키/2'] = df3['키'].apply(lambda x: x/2)

In [ ]:
import math
import time

# 타이머 시작
start = time.time()

# 시간을 측정하고자 하는 로직
math.factorial(10000)

# 타이머 멈춤
end = time.time()

# 소요시간 출력
print(f"{end-start: .5f} sec")

In [ ]:
df3['키'].apply(lambda x: x**2)

In [ ]:
my_map = {
    '남자': 1,
    '여자': 0
}

In [ ]:
df3['성별'].map(my_map)