In [2]:
# OS : Windows-10-10.0.22621-SP0
# Python : 3.9.18
# Numpy : 1.26.0
# Pandas : 2.1.1
# Matplotlib : 3.7.1
# Seaborn : 0.12.2
# Created: NOV. 17. 2023
# Author: D.W. SHIN
# 교통문제 해결을 위한 CCTV 교통 영상(고속도로)의 데이터 분석

!pip install koreanize_matplotlib

Requirement already satisfied: koreanize_matplotlib in c:\users\sba\anaconda3\envs\my_venv\lib\site-packages (0.1.1)
Requirement already satisfied: matplotlib in c:\users\sba\anaconda3\envs\my_venv\lib\site-packages (from koreanize_matplotlib) (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\sba\anaconda3\envs\my_venv\lib\site-packages (from matplotlib->koreanize_matplotlib) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\sba\anaconda3\envs\my_venv\lib\site-packages (from matplotlib->koreanize_matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\sba\anaconda3\envs\my_venv\lib\site-packages (from matplotlib->koreanize_matplotlib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\sba\anaconda3\envs\my_venv\lib\site-packages (from matplotlib->koreanize_matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.20 in c:\users\sba\anaconda3\envs\my_venv\lib\site-packages (from matplotlib->koreanize_matplotlib) (1.26.0)
Requirement already satisfied: packaging>=20.0 in c:\users\sba\anaconda3\envs\my_venv\lib\site-packages (from matplotlib->koreanize_matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\sba\anaconda3\envs\my_venv\lib\site-packages (from matplotlib->koreanize_matplotlib) (10.0.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\sba\anaconda3\envs\my_venv\lib\site-packages (from matplotlib->koreanize_matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\sba\anaconda3\envs\my_venv\lib\site-packages (from matplotlib->koreanize_matplotlib) (2.8.2)
Requirement already satisfied: importlib-resources>=3.2.0 in c:\users\sba\anaconda3\envs\my_venv\lib\site-packages (from matplotlib->koreanize_matplotlib) (6.1.0)
Requirement already satisfied: zipp>=3.1.0 in c:\users\sba\anaconda3\envs\my_venv\lib\site-packages (from importlib-resources>=3.2.0->matplotlib->koreanize_matplotlib) (3.11.0)
Requirement already satisfied: six>=1.5 in c:\users\sba\anaconda3\envs\my_venv\lib\site-packages (from python-dateutil>=2.7->matplotlib->koreanize_matplotlib) (1.16.0)

WARNING: There was an error checking the latest version of pip.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import koreanize_matplotlib
import os
import glob

## 1. Validation 데이터 분석

In [4]:
val_base_dir = 'C:/ftp_base/교통문제 해결을 위한 CCTV 교통 영상(고속도로)/Validation/바운딩박스/[원천]1.수도권영동선/BB_01수도권영동선_Validation_image'
os.chdir(val_base_dir)
os.getcwd()

'C:\\ftp_base\\교통문제 해결을 위한 CCTV 교통 영상(고속도로)\\Validation\\바운딩박스\\[원천]1.수도권영동선\\BB_01수도권영동선_Validation_image'

In [5]:
# Validation의 하위폴더에서 모든 파일을 리스트로 만들기
val_file_list = glob.glob('./**', recursive=True)
val_file_name = [os.path.basename(x) for x  in val_file_list]

In [6]:
val_file_list = []
for filename in val_file_name:
    if os.path.splitext(filename)[1] == '.png':
        val_file_list.append(filename)

In [7]:
len(val_file_list)

8112

In [8]:
# 리스트로 받은 파일을 데이터프레임으로 변환
val_highway_raw_data = pd.DataFrame(val_file_list)

In [9]:
# 컬럼명 추가
val_highway_raw_data.columns = ['highway_raw_list']

In [10]:
val_highway_raw_data.head()

                                    highway_raw_list
0  Suwon_CH01_20200720_1830_MON_9m_RH_highway_TW5...
1  Suwon_CH01_20200720_1830_MON_9m_RH_highway_TW5...
2  Suwon_CH01_20200720_1830_MON_9m_RH_highway_TW5...
3  Suwon_CH01_20200720_1830_MON_9m_RH_highway_TW5...
4  Suwon_CH01_20200720_1830_MON_9m_RH_highway_TW5...

In [11]:
# 파일의 제목을 컬럼으로 변환
for i in range(val_highway_raw_data.shape[0]):
    val_highway_raw_data.loc[i, '지역'] = str(val_highway_raw_data.loc[i,'highway_raw_list']).split('_')[0]
    val_highway_raw_data.loc[i, '지점'] = str(val_highway_raw_data.loc[i,'highway_raw_list']).split('_')[1]
    val_highway_raw_data.loc[i, '날짜'] = str(val_highway_raw_data.loc[i,'highway_raw_list']).split('_')[2]
    val_highway_raw_data.loc[i, '시간'] = str(val_highway_raw_data.loc[i,'highway_raw_list']).split('_')[3]
    val_highway_raw_data.loc[i, '요일'] = str(val_highway_raw_data.loc[i,'highway_raw_list']).split('_')[4]
    val_highway_raw_data.loc[i, '카메라설치높이'] = str(val_highway_raw_data.loc[i,'highway_raw_list']).split('_')[5]
    val_highway_raw_data.loc[i, '정체여부'] = str(val_highway_raw_data.loc[i,'highway_raw_list']).split('_')[6]
    val_highway_raw_data.loc[i, '도로종류'] = str(val_highway_raw_data.loc[i,'highway_raw_list']).split('_')[7]
    val_highway_raw_data.loc[i, '차선정보'] = str(val_highway_raw_data.loc[i,'highway_raw_list']).split('_')[8]
    val_highway_raw_data.loc[i, '날씨'] = str(val_highway_raw_data.loc[i,'highway_raw_list']).split('_')[9]
    val_highway_raw_data.loc[i, '해상도'] = str(val_highway_raw_data.loc[i,'highway_raw_list']).split('_')[10]
    val_highway_raw_data.loc[i, '번호'] = str(val_highway_raw_data.loc[i,'highway_raw_list']).split('_')[11].split('.')[0]
    val_highway_raw_data.loc[i, 'cnt'] = 1

C:\Users\SBA\AppData\Local\Temp\ipykernel_8608\2139740210.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Suwon' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  val_highway_raw_data.loc[i, '지역'] = str(val_highway_raw_data.loc[i,'highway_raw_list']).split('_')[0]
C:\Users\SBA\AppData\Local\Temp\ipykernel_8608\2139740210.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'CH01' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  val_highway_raw_data.loc[i, '지점'] = str(val_highway_raw_data.loc[i,'highway_raw_list']).split('_')[1]
C:\Users\SBA\AppData\Local\Temp\ipykernel_8608\2139740210.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '20200720' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  val_highway_raw_data.loc[i, '날짜'] = str(val_highway_raw_data.loc[i,'highway_raw_list']).split('_')[2]
C:\Users\SBA\AppData\Local\Temp\ipykernel_8608\2139740210.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '1830' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  val_highway_raw_data.loc[i, '시간'] = str(val_highway_raw_data.loc[i,'highway_raw_list']).split('_')[3]
C:\Users\SBA\AppData\Local\Temp\ipykernel_8608\2139740210.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'MON' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  val_highway_raw_data.loc[i, '요일'] = str(val_highway_raw_data.loc[i,'highway_raw_list']).split('_')[4]
C:\Users\SBA\AppData\Local\Temp\ipykernel_8608\2139740210.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '9m' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  val_highway_raw_data.loc[i, '카메라설치높이'] = str(val_highway_raw_data.loc[i,'highway_raw_list']).split('_')[5]
C:\Users\SBA\AppData\Local\Temp\ipykernel_8608\2139740210.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'RH' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  val_highway_raw_data.loc[i, '정체여부'] = str(val_highway_raw_data.loc[i,'highway_raw_list']).split('_')[6]
C:\Users\SBA\AppData\Local\Temp\ipykernel_8608\2139740210.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'highway' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  val_highway_raw_data.loc[i, '도로종류'] = str(val_highway_raw_data.loc[i,'highway_raw_list']).split('_')[7]
C:\Users\SBA\AppData\Local\Temp\ipykernel_8608\2139740210.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'TW5' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  val_highway_raw_data.loc[i, '차선정보'] = str(val_highway_raw_data.loc[i,'highway_raw_list']).split('_')[8]
C:\Users\SBA\AppData\Local\Temp\ipykernel_8608\2139740210.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'sunny' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  val_highway_raw_data.loc[i, '날씨'] = str(val_highway_raw_data.loc[i,'highway_raw_list']).split('_')[9]
C:\Users\SBA\AppData\Local\Temp\ipykernel_8608\2139740210.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'FHD' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  val_highway_raw_data.loc[i, '해상도'] = str(val_highway_raw_data.loc[i,'highway_raw_list']).split('_')[10]
C:\Users\SBA\AppData\Local\Temp\ipykernel_8608\2139740210.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '001' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  val_highway_raw_data.loc[i, '번호'] = str(val_highway_raw_data.loc[i,'highway_raw_list']).split('_')[11].split('.')[0]

In [12]:
val_highway_raw_data.head()

,highway_raw_list,지역,지점,날짜,시간,요일,카메라설치높이,정체여부,도로종류,차선정보,날씨,해상도,번호,cnt
0,Suwon_CH01_20200720_1830_MON_9m_RH_highway_TW5...,Suwon,CH01,20200720,1830,MON,9m,RH,highway,TW5,sunny,FHD,001,1.0
1,Suwon_CH01_20200720_1830_MON_9m_RH_highway_TW5...,Suwon,CH01,20200720,1830,MON,9m,RH,highway,TW5,sunny,FHD,002,1.0
2,Suwon_CH01_20200720_1830_MON_9m_RH_highway_TW5...,Suwon,CH01,20200720,1830,MON,9m,RH,highway,TW5,sunny,FHD,003,1.0
3,Suwon_CH01_20200720_1830_MON_9m_RH_highway_TW5...,Suwon,CH01,20200720,1830,MON,9m,RH,highway,TW5,sunny,FHD,004,1.0
4,Suwon_CH01_20200720_1830_MON_9m_RH_highway_TW5...,Suwon,CH01,20200720,1830,MON,9m,RH,highway,TW5,sunny,FHD,005,1.0

In [13]:
# validation 데이터에서 unique를 확인함
print("지역 ", val_highway_raw_data['지역'].unique())
print("지점 ", val_highway_raw_data['지점'].unique())
print("날짜 ", val_highway_raw_data['날짜'].unique())
print("시간 ", val_highway_raw_data['시간'].unique())
print("요일 ", val_highway_raw_data['요일'].unique())
print("카메라설치높이 ", val_highway_raw_data['카메라설치높이'].unique())
print("정체여부 ", val_highway_raw_data['정체여부'].unique())
print("도로종류 ", val_highway_raw_data['도로종류'].unique())
print("차선정보 ", val_highway_raw_data['차선정보'].unique())
print("날씨 ", val_highway_raw_data['날씨'].unique())
print("해상도 ", val_highway_raw_data['해상도'].unique())

지역  ['Suwon']
지점  ['CH01' 'CH02' 'CH03' 'CH04' 'CH05' 'CH06' 'CH07' 'CH08' 'CH09' 'CH10']
날짜  ['20200720' '20200722' '20201012' '20201213' '20200721' '20201011'
 '20201010']
시간  ['1830' '1430' '1930' '1723' '1200' '2130' '2030' '1730' '1806' '0933'
 '2000' '1700' '1742' '1933' '1600' '1818' '1838' '1807' '1400' '1900'
 '1839' '1800' '1530' '1805' '1853' '1500' '1740' '1858' '1745' '1903'
 '0752']
요일  ['MON' 'WED' 'SUN' 'TUE' 'SAT']
카메라설치높이  ['9m']
정체여부  ['RH' 'NH']
도로종류  ['highway']
차선정보  ['TW5' 'OW5']
날씨  ['sunny' 'rainy' 'snow']
해상도  ['FHD']

In [17]:
print("총 파일수 : ", len(val_highway_raw_data))
print("\n")
print("각 지점별 파일수 \n", val_highway_raw_data.groupby('지점')['cnt'].sum())

총 파일수 :  8112


각 지점별 파일수
 지점
CH01     630.0
CH02     679.0
CH03     649.0
CH04    1225.0
CH05     650.0
CH06     578.0
CH07    1225.0
CH08    1221.0
CH09     650.0
CH10     605.0
Name: cnt, dtype: float64

In [14]:
# 지점 01 데이터를 확인함
val_highway_raw_data[val_highway_raw_data['지점'] == 'CH01']

,highway_raw_list,지역,지점,날짜,시간,요일,카메라설치높이,정체여부,도로종류,차선정보,날씨,해상도,번호,cnt
0,Suwon_CH01_20200720_1830_MON_9m_RH_highway_TW5...,Suwon,CH01,20200720,1830,MON,9m,RH,highway,TW5,sunny,FHD,001,1.0
1,Suwon_CH01_20200720_1830_MON_9m_RH_highway_TW5...,Suwon,CH01,20200720,1830,MON,9m,RH,highway,TW5,sunny,FHD,002,1.0
2,Suwon_CH01_20200720_1830_MON_9m_RH_highway_TW5...,Suwon,CH01,20200720,1830,MON,9m,RH,highway,TW5,sunny,FHD,003,1.0
3,Suwon_CH01_20200720_1830_MON_9m_RH_highway_TW5...,Suwon,CH01,20200720,1830,MON,9m,RH,highway,TW5,sunny,FHD,004,1.0
4,Suwon_CH01_20200720_1830_MON_9m_RH_highway_TW5...,Suwon,CH01,20200720,1830,MON,9m,RH,highway,TW5,sunny,FHD,005,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,Suwon_CH01_20201213_1200_SUN_9m_NH_highway_TW5...,Suwon,CH01,20201213,1200,SUN,9m,NH,highway,TW5,snow,FHD,295,1.0
626,Suwon_CH01_20201213_1200_SUN_9m_NH_highway_TW5...,Suwon,CH01,20201213,1200,SUN,9m,NH,highway,TW5,snow,FHD,296,1.0
627,Suwon_CH01_20201213_1200_SUN_9m_NH_highway_TW5...,Suwon,CH01,20201213,1200,SUN,9m,NH,highway,TW5,snow,FHD,297,1.0
628,Suwon_CH01_20201213_1200_SUN_9m_NH_highway_TW5...,Suwon,CH01,20201213,1200,SUN,9m,NH,highway,TW5,snow,FHD,298,1.0
629,Suwon_CH01_20201213_1200_SUN_9m_NH_highway_TW5...,Suwon,CH01,20201213,1200,SUN,9m,NH,highway,TW5,snow,FHD,299,1.0

In [15]:
# 각 지점별 정체여부와 차선정보에 따른 날씨 데이터 갯수
highway_table = pd.pivot_table(
    data = val_highway_raw_data,
    index= '지점',
    columns=['정체여부', '차선정보', '날씨'],
    values='cnt',
    aggfunc=np.sum
)
highway_table.head(10)

C:\Users\SBA\AppData\Local\Temp\ipykernel_8608\2411963342.py:2: FutureWarning: The provided callable <function sum at 0x000002714701CA60> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  highway_table = pd.pivot_table(

정체여부     NH                                       RH
차선정보    OW5                 TW5                  OW5    TW5
날씨    rainy   snow  sunny rainy   snow  sunny  sunny  sunny
지점
CH01    NaN    NaN    NaN  50.0  230.0   50.0    NaN  300.0
CH02    NaN    NaN    NaN   NaN  230.0  299.0    NaN  150.0
CH03    NaN    NaN  350.0   NaN    NaN    NaN  299.0    NaN
CH04  625.0    NaN  150.0   NaN    NaN    NaN  450.0    NaN
CH05   50.0    NaN  450.0   NaN    NaN    NaN  150.0    NaN
CH06   50.0    NaN  378.0   NaN    NaN    NaN  150.0    NaN
CH07  625.0    NaN  300.0   NaN    NaN    NaN  300.0    NaN
CH08  625.0    NaN  300.0   NaN    NaN    NaN  296.0    NaN
CH09   50.0    NaN  300.0   NaN    NaN    NaN  300.0    NaN
CH10    NaN  224.0    NaN  50.0    NaN  331.0    NaN    NaN

### 지점 01 ~ 04 사이에는 눈이 오는 날씨가 없으므로 눈이 오는 데이터는 필요 없음
### 러시아워(RH) 일때는 날씨는 항상 좋음

## 2. Training 데이터 분석

In [20]:
train_base_dir = 'C:/ftp_base/교통문제 해결을 위한 CCTV 교통 영상(고속도로)/Training/바운딩박스'
os.chdir(train_base_dir)
os.getcwd()

'C:\\ftp_base\\교통문제 해결을 위한 CCTV 교통 영상(고속도로)\\Training\\바운딩박스'

In [22]:
# Training의 하위폴더에서 모든 파일을 리스트로 만들기
train_file_list = glob.glob('./**', recursive=True)
train_file_name = [os.path.basename(x) for x  in train_file_list]

In [23]:
train_file_list = []
for filename in train_file_name:
    if os.path.splitext(filename)[1] == '.png':
        train_file_list.append(filename)

In [24]:
train_highway_raw_data = pd.DataFrame(train_file_list)
train_highway_raw_data.columns = ['highway_raw_list']

In [26]:
train_highway_raw_data.head()

                                    highway_raw_list
0  Suwon_CH01_20200720_1700_MON_9m_NH_highway_TW5...
1  Suwon_CH01_20200720_1700_MON_9m_NH_highway_TW5...
2  Suwon_CH01_20200720_1700_MON_9m_NH_highway_TW5...
3  Suwon_CH01_20200720_1700_MON_9m_NH_highway_TW5...
4  Suwon_CH01_20200720_1700_MON_9m_NH_highway_TW5...

In [27]:
# 파일의 제목을 컬럼으로 변환
for i in range(train_highway_raw_data.shape[0]):
    train_highway_raw_data.loc[i, '지역'] = str(train_highway_raw_data.loc[i,'highway_raw_list']).split('_')[0]
    train_highway_raw_data.loc[i, '지점'] = str(train_highway_raw_data.loc[i,'highway_raw_list']).split('_')[1]
    train_highway_raw_data.loc[i, '날짜'] = str(train_highway_raw_data.loc[i,'highway_raw_list']).split('_')[2]
    train_highway_raw_data.loc[i, '시간'] = str(train_highway_raw_data.loc[i,'highway_raw_list']).split('_')[3]
    train_highway_raw_data.loc[i, '요일'] = str(train_highway_raw_data.loc[i,'highway_raw_list']).split('_')[4]
    train_highway_raw_data.loc[i, '카메라설치높이'] = str(train_highway_raw_data.loc[i,'highway_raw_list']).split('_')[5]
    train_highway_raw_data.loc[i, '정체여부'] = str(train_highway_raw_data.loc[i,'highway_raw_list']).split('_')[6]
    train_highway_raw_data.loc[i, '도로종류'] = str(train_highway_raw_data.loc[i,'highway_raw_list']).split('_')[7]
    train_highway_raw_data.loc[i, '차선정보'] = str(train_highway_raw_data.loc[i,'highway_raw_list']).split('_')[8]
    train_highway_raw_data.loc[i, '날씨'] = str(train_highway_raw_data.loc[i,'highway_raw_list']).split('_')[9]
    train_highway_raw_data.loc[i, '해상도'] = str(train_highway_raw_data.loc[i,'highway_raw_list']).split('_')[10]
    train_highway_raw_data.loc[i, '번호'] = str(train_highway_raw_data.loc[i,'highway_raw_list']).split('_')[11].split('.')[0]
    train_highway_raw_data.loc[i, 'cnt'] = 1

C:\Users\SBA\AppData\Local\Temp\ipykernel_8608\619680338.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Suwon' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  train_highway_raw_data.loc[i, '지역'] = str(train_highway_raw_data.loc[i,'highway_raw_list']).split('_')[0]
C:\Users\SBA\AppData\Local\Temp\ipykernel_8608\619680338.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'CH01' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  train_highway_raw_data.loc[i, '지점'] = str(train_highway_raw_data.loc[i,'highway_raw_list']).split('_')[1]
C:\Users\SBA\AppData\Local\Temp\ipykernel_8608\619680338.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '20200720' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  train_highway_raw_data.loc[i, '날짜'] = str(train_highway_raw_data.loc[i,'highway_raw_list']).split('_')[2]
C:\Users\SBA\AppData\Local\Temp\ipykernel_8608\619680338.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '1700' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  train_highway_raw_data.loc[i, '시간'] = str(train_highway_raw_data.loc[i,'highway_raw_list']).split('_')[3]
C:\Users\SBA\AppData\Local\Temp\ipykernel_8608\619680338.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'MON' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  train_highway_raw_data.loc[i, '요일'] = str(train_highway_raw_data.loc[i,'highway_raw_list']).split('_')[4]
C:\Users\SBA\AppData\Local\Temp\ipykernel_8608\619680338.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '9m' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  train_highway_raw_data.loc[i, '카메라설치높이'] = str(train_highway_raw_data.loc[i,'highway_raw_list']).split('_')[5]
C:\Users\SBA\AppData\Local\Temp\ipykernel_8608\619680338.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'NH' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  train_highway_raw_data.loc[i, '정체여부'] = str(train_highway_raw_data.loc[i,'highway_raw_list']).split('_')[6]
C:\Users\SBA\AppData\Local\Temp\ipykernel_8608\619680338.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'highway' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  train_highway_raw_data.loc[i, '도로종류'] = str(train_highway_raw_data.loc[i,'highway_raw_list']).split('_')[7]
C:\Users\SBA\AppData\Local\Temp\ipykernel_8608\619680338.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'TW5' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  train_highway_raw_data.loc[i, '차선정보'] = str(train_highway_raw_data.loc[i,'highway_raw_list']).split('_')[8]
C:\Users\SBA\AppData\Local\Temp\ipykernel_8608\619680338.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'sunny' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  train_highway_raw_data.loc[i, '날씨'] = str(train_highway_raw_data.loc[i,'highway_raw_list']).split('_')[9]
C:\Users\SBA\AppData\Local\Temp\ipykernel_8608\619680338.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'FHD' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  train_highway_raw_data.loc[i, '해상도'] = str(train_highway_raw_data.loc[i,'highway_raw_list']).split('_')[10]
C:\Users\SBA\AppData\Local\Temp\ipykernel_8608\619680338.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '001' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  train_highway_raw_data.loc[i, '번호'] = str(train_highway_raw_data.loc[i,'highway_raw_list']).split('_')[11].split('.')[0]

In [28]:
# validation 데이터에서 unique를 확인함
print("지역 ", train_highway_raw_data['지역'].unique())
print("지점 ", train_highway_raw_data['지점'].unique())
print("날짜 ", train_highway_raw_data['날짜'].unique())
print("시간 ", train_highway_raw_data['시간'].unique())
print("요일 ", train_highway_raw_data['요일'].unique())
print("카메라설치높이 ", train_highway_raw_data['카메라설치높이'].unique())
print("정체여부 ", train_highway_raw_data['정체여부'].unique())
print("도로종류 ", train_highway_raw_data['도로종류'].unique())
print("차선정보 ", train_highway_raw_data['차선정보'].unique())
print("날씨 ", train_highway_raw_data['날씨'].unique())
print("해상도 ", train_highway_raw_data['해상도'].unique())

지역  ['Suwon']
지점  ['CH01' 'CH02' 'CH03' 'CH04' 'CH05' 'CH06' 'CH07' 'CH08' 'CH09' 'CH10']
날짜  ['20200720' '20200721' '20200722' '20201010' '20201011' '20201012'
 '20201213']
시간  ['1700' '1730' '1800' '1900' '1930' '2000' '2030' '1500' '1530' '1600'
 '1630' '2100' '1330' '1400' '1830' '1653' '1753' '1823' '1853' '1923'
 '0700' '0730' '0930' '1030' '2130' '1430' '1807' '1837' '1908' '1736'
 '1836' '1906' '1657' '1728' '1828' '1858' '1928' '0732' '1033' '1204'
 '1742' '1812' '1842' '1913' '1843' '1943' '1732' '1802' '1833' '1903'
 '0704' '0835' '0936' '1137' '1717' '1748' '1849' '1818' '1919' '1706'
 '1737' '1939' '0737' '0838' '1142' '1824' '1855' '1723' '1838' '1909'
 '0709' '0943' '1044' '1216' '1759' '1901' '1808' '1910' '1941' '0742'
 '0946' '1734' '1907' '1805' '1720' '1751' '1822' '1924' '0714' '0745'
 '0949' '1224' '1811' '1740' '1724' '1755' '1827' '1929' '0747' '0952'
 '1054' '1714' '1817' '1848' '1745' '1920' '1729' '1832' '1934' '0718'
 '0853' '0955' '1232' '1854' '1926' '0855' '1101']
요일  ['MON' 'TUE' 'WED' 'SAT' 'SUN']
카메라설치높이  ['9m']
정체여부  ['NH' 'RH']
도로종류  ['highway']
차선정보  ['TW5' 'OW5']
날씨  ['sunny' 'rainy' 'snow']
해상도  ['FHD']

In [29]:
print("총 파일수 : ", len(train_highway_raw_data))
print("\n")
print("각 지점별 파일수 \n", train_highway_raw_data.groupby('지점')['cnt'].sum())

총 파일수 :  56663


각 지점별 파일수
 지점
CH01    6528.0
CH02    5275.0
CH03    6568.0
CH04    5580.0
CH05    5879.0
CH06    5857.0
CH07    5766.0
CH08    5414.0
CH09    5333.0
CH10    4463.0
Name: cnt, dtype: float64

In [30]:
# 각 지점별 정체여부와 차선정보에 따른 날씨 데이터 갯수
highway_table = pd.pivot_table(
    data = train_highway_raw_data,
    index= '지점',
    columns=['정체여부', '차선정보', '날씨'],
    values='cnt',
    aggfunc=np.sum
)
highway_table.head(10)

C:\Users\SBA\AppData\Local\Temp\ipykernel_8608\2180173298.py:2: FutureWarning: The provided callable <function sum at 0x000002714701CA60> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  highway_table = pd.pivot_table(

정체여부      NH                                            RH
차선정보     OW5                    TW5                    OW5    TW5
날씨     rainy   snow   sunny   rainy   snow   sunny   sunny  rainy   sunny
지점
CH01     NaN    NaN     NaN  1350.0  881.0  1649.0     NaN  100.0  2548.0
CH02     NaN    NaN     NaN   150.0  676.0  2099.0     NaN  200.0  2150.0
CH03  1300.0  823.0  2447.0     NaN    NaN     NaN  1998.0    NaN     NaN
CH04   874.0  607.0  2300.0     NaN    NaN     NaN  1799.0    NaN     NaN
CH05   775.0  859.0  2747.0     NaN    NaN     NaN  1498.0    NaN     NaN
CH06   823.0  387.0  3165.0     NaN    NaN     NaN  1482.0    NaN     NaN
CH07   924.0  865.0  2778.0     NaN    NaN     NaN  1199.0    NaN     NaN
CH08   875.0  645.0  2847.0     NaN    NaN     NaN  1047.0    NaN     NaN
CH09   150.0  886.0  2950.0     NaN    NaN     NaN  1347.0    NaN     NaN
CH10     NaN  446.0   600.0   323.0    NaN  2496.0   598.0    NaN     NaN